<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
</head>
<body>
{% block content %}
{% for comment in comments %}
{% if forloop.first %}

<h2>Comments</h2>
{%endif%}
    <p>writer: <a href="/users/{{ comment.author.pk }}/">{{ comment.author.username }}</a> <br> commet: {{ comment.text }}</p>
        -------
{% endfor %}
<br>
{% for post in posts %}
    {% if forloop.first %}
        <button><a href="/commentlist/{{post.id}}/comments/">Create a Comment for this post</a></button>
    {% endif %}
{% endfor %}













{% endblock %}
</body>
</html>