<!DOCTYPE html>
<html lang="en">
<head>
{% extends 'base.html' %}
</head>
<body>
{% block content %}
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Date joined: {{ user.date_joined|date:"Y-m-d" }}</p>
    <a href="#" class="btn btn-outline-success">edit profile</a>
<style>
.btn btn-outline-success {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
.button:hover {
    background-color: #45a049;
}
</style>
{% endblock %}
</body>
</html>